<!DOCTYPE HTML>

<html manifest="" lang="en-US">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>${variables.domain}</title>
    <!-- The line below must be kept intact for Sencha Command to build your application -->
    <script id="microloader" type="text/javascript" src="bootstrap.js"></script>
</head>
<body>
</body>
</html>