<h1 md-dialog-title>{{title}}</h1>
<form (ngSubmit)="dialogRef.close(items)" #dialogForm = "ngForm">
    
    <md-input-container style="width:100%;">
        <input mdInput type="string" name = "name" [placeholder]= "'engagementmanagementdatagrid.columns.name' | translate" [(ngModel)] = "items.name" required>
    </md-input-container>
    
    <md-dialog-actions>
        <button type="button" md-button md-dialog-close>{{'buttons.cancel' | translate}}</button>
        <button type="submit" md-button [disabled]="!dialogForm.form.valid"> {{'buttons.save' | translate}} </button>
    </md-dialog-actions>
</form>
