<td-layout-nav>
  <div td-toolbar-content flex>
    <app-header></app-header>
  </div>
  <td-layout-card-over [cardTitle]="'login.title' | translate" cardWidth="75">
    <form layout="column" class="pad" (ngSubmit)="login(loginForm.form)" #loginForm="ngForm">
        <md-input-container flex>
            <input mdInput type="text" [placeholder]="'login.username' | translate" ngModel name="username" required>
        </md-input-container>

        <md-input-container flex>
            <input mdInput type="password" [placeholder]="'login.password' | translate" ngModel name="password" required>
        </md-input-container>
        
        <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">{{'buttons.submit'| translate}}</button>
    </form>
  </td-layout-card-over>
</td-layout-nav>