<html>
 <head></head>
 <body>
  <h1 md-dialog-title>{{title}}</h1> 
  <form (ngSubmit)="dialogRef.close(items)" #dialogForm="ngForm"> 
   <md-input-container style="width:100%;"> 
    <input mdInput type="date" name="beginDate" [placeholder]="'holidaymanagementdatagrid.columns.beginDate' | translate" [(ngModel)]="items.beginDate" required> 
   </md-input-container> 
   <md-input-container style="width:100%;"> 
    <input mdInput type="date" name="endDate" [placeholder]="'holidaymanagementdatagrid.columns.endDate' | translate" [(ngModel)]="items.endDate" required> 
   </md-input-container> 
   <md-input-container style="width:100%;"> 
   <input mdInput type="number" name="holidayTypeId" [placeholder]="'holidaymanagementdatagrid.columns.holidayTypeId' | translate" [(ngModel)]="items.holidayTypeId" required>
   </md-input-container> 
   <md-dialog-actions> 
    <button type="button" md-button md-dialog-close>{{'buttons.cancel' | translate}}</button> 
    <button type="submit" md-button [disabled]="!dialogForm.form.valid"> {{'buttons.save' | translate}} </button> 
   </md-dialog-actions> 
  </form> 
 </body>
</html>