<html>
 <head></head>
 <body>
  <div layout="row" layout-align="start center" style="background-color:#eee"> 
   <span flex class="md-title" style="text-align: center">{{'holidaymanagementdatagrid.title' | translate}}</span> 
   <button md-button flex class="push-right-sm" [mdTooltip]="'BankHolidaydatagrid.searchTip' | translate" (click)="openSearchBox()"> 
    <md-icon>
     search
    </md-icon> </button> 
   <button md-button flex class="push-right-sm" [mdTooltip]="'buttons.addItem' | translate" (click)="openDialog()"> 
    <md-icon>
     add
    </md-icon> </button> 
   <button md-button flex class="push-right-sm" [disabled]="!selectedRow" [mdTooltip]="'buttons.editItem' | translate" (click)="openEditDialog()"> 
    <md-icon>
     mode_edit
    </md-icon> </button> 
   <button md-button flex class="push-right-sm" [disabled]="!selectedRow" [mdTooltip]="'buttons.deleteItem' | translate" (click)="openConfirm()"> 
    <md-icon>
     delete
    </md-icon> </button> 
  </div> 
  <div id="bankholidaydataGrid-div" layout="row" class="pad-left-sm pad-right-sm" style="background-color:#eee" *ngIf="searchBox"> 
   <form #searchForm="ngForm"> 
    <md-input-container style="width:100%;"> 
     <input mdInput name="beginDate" type="datetime" ngModel [placeholder]="'holidaymanagementdatagrid.columns.beginDate' | translate"> 
    </md-input-container> 
    <md-input-container style="width:100%;"> 
     <input mdInput name="endDate" type="datetime" ngModel [placeholder]="'holidaymanagementdatagrid.columns.endDate' | translate"> 
    </md-input-container> 
    <md-input-container style="width:100%;"> 
     <input mdInput name="holidayTypeId" type="number" ngModel [placeholder]="'holidaymanagementdatagrid.columns.holidayTypeId' | translate"> 
    </md-input-container> 
    <button md-button (click)="search(searchForm.form)"> {{'buttons.search' | translate}} </button> 
    <button md-button (click)="searchReset(searchForm.form)"> {{'buttons.clean' | translate}} </button> 
   </form> 
  </div> 
  <md-divider></md-divider> 
  <td-data-table #dataTable [data]="data" [columns]="columns" [sortable]="true" [selectable]="true" [multiple]="false" [sortBy]="sortBy" [sortOrder]="sortOrder" (rowSelect)="selectEvent($event)" (sortChange)="sort($event)"> 
  </td-data-table> 
  <td-paging-bar #pagingBar [pageSizes]="[5, 10, 20]" [total]="dataTotal" (change)="page($event)"> 
   <span td-paging-bar-label hide-xs>Rows per page:</span> {{pagingBar.range}} 
   <span hide-xs>of {{pagingBar.total}}</span> 
  </td-paging-bar> 
 </body>
</html>