<html>
 <head></head> 
 <body> 
  <td-layout-nav> 
   <div td-toolbar-content flex> 
    <app-header></app-header> 
   </div> 
   <td-layout-manage-list opened="true" mode="side" sidenavWidth="350px"> 
    <md-nav-list td-sidenav-content> 
     <a id="home" md-list-item [routerLink]="['./initialPage']"> 
      <md-icon md-list-avatar>
        home 
      </md-icon> <h3 md-line> {{'home' | translate}} </h3> </a> 
     <a id="HolidayType" md-list-item [routerLink]="['./HolidayTypedataGrid']"> 
      <md-icon md-list-avatar>
        grid_on 
      </md-icon> <h3 md-line> {{'HolidayTypedatagrid.navData' | translate}} </h3> <p md-line> {{'HolidayTypedatagrid.navDataSub' | translate}} </p> </a> 
     <a id="BankHoliday" md-list-item [routerLink]="['./BankHolidaydataGrid']"> 
      <md-icon md-list-avatar>
        grid_on 
      </md-icon> <h3 md-line> {{'BankHolidaydatagrid.navData' | translate}} </h3> <p md-line> {{'BankHolidaydatagrid.navDataSub' | translate}} </p> </a> 
     <a id="Engagement" md-list-item [routerLink]="['./EngagementdataGrid']"> 
      <md-icon md-list-avatar>
       grid_on
      </md-icon> <h3 md-line> {{'Engagementdatagrid.navData' | translate}} </h3> <p md-line> {{'Engagementdatagrid.navDataSub' | translate}} </p> </a>
    </md-nav-list> 
    <router-outlet></router-outlet> 
   </td-layout-manage-list> 
  </td-layout-nav>  
 </body>
</html>